<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284791684819-ql8dck4smaijrs3tphv2tqp4te1enj9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284791684819-ql8dck4smaijrs3tphv2tqp4te1enj9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284791684819-7u80h1end78abvjjehd2vk8gto5rp233.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFybXFUNZJDChlEnMdK6GXVBXeidNSimU</string>
	<key>GCM_SENDER_ID</key>
	<string>284791684819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsAppClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whats-app-clone-4fe8a</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-clone-4fe8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284791684819:ios:865ea1ab4ede039b719e26</string>
</dict>
</plist>